
@{
	ViewData["Title"] = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
	.index2_sliderbg {
		width: 100%; 
		height: 100%;
		overflow: hidden;
		border-radius: 50%; 
		margin: 0 auto;
		margin-top :3%;
	}

	.img-responsive {
		width: 100%; 
		height: auto; 
		display: block;
	}
</style>
<!-- slider wrapper start -->
<div class="slider-area slider_index2_wrapper float_left btn_col">
	<div class="index2_sliderbg">
		<img src="images/slider1.png" alt="img" class="img-responsive">
	</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="carousel-captions caption-1">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-10 col-md-12 col-sm-12 col-12">
								<div class="content pt-lg-5">


									<h3 data-animation="animated bounceInUp">
										<span class="text-success">Tradeify</span>   <br>
										<span> Gold Coin </span> <br />
										
									</h3>
									<br />

									<div data-animation="animated bounceInUp" class="line_shape"></div>
									<p data-animation="animated bounceInUp">
										Do you already have an account? Login to get your referral link.
										If you do not have account yet ask your friend for his or her referral link so you can join.
									</p>
									<br />
									<div class="slider_btn index2_sliderbtn btn_1 float_left mb-lg-5">
										<ul>
											<li data-animation="animated bounceInLeft">
												<a href="/account/login">Login now</a>
											</li>
											<li data-animation="animated bounceInLeft">
												<a href="#">view plans</a>
											</li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-captions caption-2">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-10 col-md-12 col-sm-12 col-12">
								<div class="content pt-lg-5">

									<h3 data-animation="animated bounceInUp">
										The   <br>
										<span>Tradeify</span>
										Project
									</h3>
									<br />

									<div data-animation="animated bounceInUp" class="line_shape"></div>
									<p data-animation="animated bounceInUp">
										Do you already have an account? Login to get your referral link.
										If you do not have account yet ask your friend for his or her referral link so you can join.
									</p>
									<br />
									<div class="slider_btn index2_sliderbtn float_left mb-lg-5">
										<ul>
											<li data-animation="animated bounceInLeft">
												<a href="/account/login">Login now</a>
											</li>
											<li data-animation="animated bounceInLeft">
												<a href="#">view plans</a>
											</li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-captions caption-3">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-10 col-md-12 col-sm-12 col-12">
								<div class="content pt-lg-5">


									<h3 data-animation="animated bounceInUp">
										<span class="text-success">Tradeify</span>   <br>
										<span> Gold Coin </span> <br />
										
									</h3>
									<br />

									<div data-animation="animated bounceInUp" class="line_shape"></div>
									<p data-animation="animated bounceInUp">
										Do you already have an account? Login to get your referral link. If you do not
										have account yet ask your friend for his or her referral link so you can join.
									</p>
									<div class="slider_btn index2_sliderbtn float_left mb-lg-5">
										<ul>
											<li data-animation="animated bounceInLeft">
												<a href="/account/login">Login now</a>
											</li>
											<li data-animation="animated bounceInLeft">
												<a href="#">view plans</a>
											</li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<ol class="carousel-indicators d-none">

				<li data-target="#carousel-example-generic" data-slide-to="0" class="active">
					<span class="number">01</span>
				</li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class="">
					<span class="number">02</span>
				</li>
				<li data-target="#carousel-example-generic" data-slide-to="2" class="">
					<span class="number">03</span>
				</li>
			</ol>
			<div class="carousel-nevigation">
				<a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">
					<span></span> <i class="flaticon-left-arrow"></i>
				</a>
				<a class="next" href="#carousel-example-generic" role="button" data-slide="next">
					<span></span> <i class="flaticon-arrow-pointing-to-right"></i>
				</a>
			</div>
		</div>
	</div>

</div>

<!-- slider wrapper End -->
<!--about us wrapper start -->
<div class="about_us_wrapper index2_about_us_wrapper float_left">
	<div class="container">
		<div class="row">

			<div class="col-xl-6 col-md-12 col-lg-12 col-sm-12 col-12">
				<div class="index2_abt_img_wrapper">

					<!--<img src="~/images/abt_3.png" alt="About" class="img-responsive">-->

					<div class="sw_disc_img_btm">
						<img src="~/images/abt_3.png" alt="About" class="img-responsive">
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-md-12 col-lg-12 col-sm-12 col-12">
				<div class="about_content_wrapper">
					<div class="sv_heading_wraper index2_heading">
						<h4>who we are</h4>
						<h3>Our Vision</h3>
						<div class="line_shape"></div>
					</div>
					<div class="welcone_savehiyp float_left">
						<p class="text-warning">
							We  are  aimed  at  connecting  the  ordinary  people  with  the  global  financial economic giants.
							This  will  give  you  access  to  benefit  in  the  major  blocks  of  global  financial ecosystem
							and  major community  development  projects  across  Africa.
						</p>
						<div class="welcome_save_inpvate_wrapper">
							<ul>
								<li class="_inovate"><a href="#"><i class="flaticon-check-box"></i> We Innovate & Develop </a></li>
								<li class="_inovate"><a href="#"><i class="flaticon-check-box"></i> Licenced & Certified </a></li>
								<li class="_inovate"><a href="#"><i class="flaticon-check-box"></i>Saving & Investments </a></li>
							</ul>
						</div>
						<div class="about_btn float_left">
							<ul>
								<li>
									<a href="#">get more</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- about us wrapper end -->
<!--investment plan wrapper start -->
	@*@if (package != null)
	{

	<div class="investment_plans index2_investment_plans float_left" id="packages">
		<div class="investment_overlay"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-12">
					<div class="sv_heading_wraper heading_wrapper_dark index2_heading index2_heading_center">
						<h4> our plans </h4>
						<h3> Our Investment Plans </h3>
						<div class="line_shape"></div>
					</div>
				</div>

				@foreach (var obj in package)
				{
					var convertedPackage = obj.PackageAmount / _generalconfiguration.DollarRate;
					var packageAmountInGGC = obj.PackageAmount / _generalconfiguration.GGCWithdrawalConversionToNaira;
					var rate = (Convert.ToDecimal(obj.BonusAmount) / obj.PackageAmount) * 100;

					<div class="col-xl-4 col-md-6 col-lg-6 col-sm-6 col-12">
						<div class="investment_box_wrapper index2_investment_box_Wraper float_left">
							<div class="investment_icon_circle icon_color parpal_color">
								<i class="flaticon-bar-chart"></i>
							</div>
							<div class="investment_border_wrapper"></div>
							<div class="investment_content_wrapper">
								@if (User.Identity.IsAuthenticated)
								{
									<h1><a asp-controller="User" asp-action="Packages">@Html.DisplayFor(modelItem => obj.Name)</a></h1>
								}
								else
								{

									<ul>
										<li>
											<a asp-controller="Account" asp-action="Login">@Html.DisplayFor(modelItem => obj.Name)</a>
										</li>
									</ul>
								}
								<div class="line_shape investment_line_shape"></div>
								<p>
									<h5 class="text-white"><b>@obj.PackageLogoUrl </b></h5>
									<br><span class="text-success"> Package cost $@convertedPackage.ToString("F0") USD </span>
									<br><span class="theme-yellow"> GGC Price <span><i class="fab fa-adn text-white"></i></span> @packageAmountInGGC.ToString("F0") GGC </span>
									<br> <span> Cash out every  @obj.NumberOfWeeks weeks </span>
									<br> and pays return on investment of @rate.ToString("F0")%
									<br>  after @obj.NumberOfWeeks weeks for 48 weeks only.
								</p>
							</div>

						</div>
					</div>
				}

			</div>
		</div>
		}

	</div>


}*@



<!--calculator plan wrapper end -->
<!-- global community wrapper start -->
<div class="global_community_wrapper index2_global_community_wrapper float_left">
	<div class="container">
		<div class="row">
			<div class="global_comm_wraper index2_global_comm_wrapper">
				<h1>We Are Always Thinking Globally</h1>
				<p>
					Just as positive words can make someone smile
					or a well-timed humorous quote can make someone laugh,
					or a well planned investimaent can eliminate poverty,
					our thoughts react to the world in real-time.

				</p>
				<h1 style="color: #dbb322;">invest today at Tradeify</h1>
			</div>
			<div class="zero_balance_wrapper">
				<div class="zero_commisition">
					<h1>
						Zero
						Commissions
					</h1>
					<h4 style="text-transform:none;">No hidden charges*</h4>
				</div>
				<div class="start_invest_wrap">
					<h1>start invest now</h1>
					<div class="about_btn zero_btn float_left">
						@*@if (User.Identity.IsAuthenticated)
						{
							<ul>
								<li>
									<a asp-controller="User" asp-action="Packages">buy now !</a>
								</li>
							</ul>
						}
						else
						{

							<ul>
								<li>
									<a asp-controller="Account" asp-action="Login">buy now !</a>
								</li>
							</ul>
						}
*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- global community wrapper end -->
<!--our services wrapper start -->

<div class="our_services_wrapper index2_our_service_wrapper float_left">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-lg-12 col-sm-12 col-12">
				<div class="sv_heading_wraper heading_wrapper_dark dark_heading index2_heading index2_heading_center">
					<h4> services</h4>
					<h3>Areas Of Engagements </h3>
					<div class="line_shape"></div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color parpal_color">
						<i class="flaticon-add"></i>
					</div>
					<div class="investment_border_wrapper"></div>
					<div class="investment_content_wrapper">
						<h1 class="text-warning"><a>Health  Care Services</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Benefit  from  our  Global  Multilevel  Marketing  and  distribution  of Herbal/Organic  products.
							Producing bitter blooded and strongly immuned products in Africa.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color red_info_circle">
						<i class="flaticon-phone-contact"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>  Telecommunications </a> </h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Take a  part  in  the global  distribution  of data through  the VTU  services.
						</p>
						<p>Airtime purchases and conversion to money.</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color blue_icon_circle">
						<i class="flaticon-money-bag"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Grant/Loan Scheme</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Benefit  from  our  Agricultural/Agrobusiness
							Grant/Loan  to  take  your business  to  a bigger  scale.
						</p>
						<p></p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color parpal_color">
						<i class="flaticon-bitcoin"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Block Chain/Forex</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Benefit  from the  massive  Global  Decentralized  Economy  through  the  Block Chain  Technology;
							Mainly Crypto Currency and  Foreign  Exchange  Market.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color red_info_circle">
						<i class="flaticon-headphones"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Entertainment/Social Media</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Benefit  from  the  huge  financial  distribution  through  Talent  Hunt, Development  and  Star  Management.
							Distribution  of  Intellectual  Properties through  Social  Media.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>


			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color blue_icon_circle">
						<i class="flaticon-gold"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Natural Resources</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Benefits  from  the  global  distribution  of
							Mineral  Resources,  Oil and Gas Well,  Gold Mines,  Diamond,  Solar Energy  and  Electricity.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color red_icon_circle">
						<i class="flaticon-money"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Real Estate/Property</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Buy,  sell  and  save  Real  Estate  and  Properties  in  a  very  affordable way .

						</p>
						<p> And  Installmental  Payment  System allowed.</p>
						<p></p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>


			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color blue_icon_circle">
						<i class="flaticon-shield"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Education/Skill Development</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Donate  and  recommend  beneficiaries  in  our  free  Skill  Development  and Educational  Empowerment,
							Basic  Literacy,  Vocational  Education,  Special Education  and  Tertiary  Education.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>


			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color parpal_icon_circle">
						<i class="flaticon-money-1"></i>
					</div>
					<div class="investment_border_wrapper"></div>
					<div class="investment_content_wrapper">
						<h1 class="text-warning"><a>Sports/Games/Sports Bets</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Share  in  the  huge  financial  transfer  through  the  buying  and  selling  of players,
							the  development  and  use  of  gaming  software,  Apps,  Bets  and  Esports.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>



			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color blue_icon_circle">
						<i class="flaticon-medal"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Health Workers Special Package</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Receive an instant 50%+ profit in special health workers e-commerce empowerment package.
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color parpal_icon_circle">
						<i class="flaticon-check-box"></i>
					</div>
					<div class="investment_border_wrapper"></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Community Development Project</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>
							Your  performance  will  qualify  you  for  our  Community  Development Project
							worth  $20  Million (&#8358;10  Billion).
						</p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>


			<div class="col-md-6 col-lg-4 col-sm-6 col-12">
				<div class="investment_box_wrapper service_box feature_box index2_service_box float_left">
					<div class="investment_icon_circle icon_color blue_icon_circle">
						<i class="flaticon-withdrawal"></i>
					</div>
					<div class="investment_border_wrapper "></div>
					<div class="investment_content_wrapper ">
						<h1 class="text-warning"><a>Profitable Referrals</a></h1>
						<div class="line_shape investment_line_shape"></div>
						<p>Get a Welcome bonus of $5 USD,after registeration. </p>
						<p>Also earn cash tokens  on every referrals. </p>
						<span class="investment_index_icon"><a><i class="flaticon-arrow-pointing-to-right"></i></a></span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>




<!--our services wrapper end -->
<!-- works wrapper start -->
<!-- transaction wrapper start -->
<!-- testimonial wrapper start -->
<!-- testimonial wrapper end -->
<!-- investors wrapper start -->
<!-- investors wrapper end -->
<!-- newsletter wrapper start -->
<!-- newsletter  wrapper end -->
<!--our blog wrapper start -->
<div class="our_blog_wrapper float_left" id="news">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-lg-12 col-sm-12 col-12">
				<div class="sv_heading_wraper heading_wrapper_dark dark_heading index2_heading index2_heading_center">
					<h4> our blog</h4>
					<h3>Our Latest News</h3>
					<div class="line_shape"></div>
				</div>
			</div>
			@*@foreach (var obj in news)
			{
				<div class="col-lg-4 col-md-12 col-sm-12 col-12">

					<div class="blog_box_wrapper index2_blog_wrapepr float_left">
						<div class="blog_img_wrapper">
							<a asp-controller="user" asp-action="SingleNews" asp-route-Id="@obj.Id"> <img src="@obj.MasterImageUrl" alt="blog_img" style="height:256px;">   </a>
							<div class="blog_date_wrapper index2_blog_date">
								<p>
									@obj.DateCreated.Day
									<br> <span>@obj.DateCreated.ToString("MMM")</span>
								</p>
							</div>
						</div>
						<div class="btc_blog_indx_cont_wrapper">

							<h5> <a asp-controller="user" asp-action="SingleNews" asp-route-Id="@obj.Id" style="color:#dba622;">@obj.Name.</a></h5>
							<p class="card bg-transparent">@obj.ShortDetails</p>
						</div>
						<div class="btc_blog_indx_cont_bottom">
							<div class="btc_blog_indx_cont_bottom_left">
								<p><i class="fa fa-user"></i> &nbsp;<a href="#">by @obj.CreatedBy </a></p>
							</div>
							<div class="btc_blog_indx_cont_bottom_right">
								<p class="comments"><i class="fa fa-comments"></i> &nbsp;<a href="#">100 comments</a></p>
							</div>
						</div>
					</div>
				</div>
			}*@


		</div>
	</div>
</div>
<!--our blog wrapper end -->
<!-- FAQ wrapper start -->
<div class="faq_wrapper float_left" id="faqs">
	<div class="investment_overlay faq_overlay"></div>
	<div class="container " id="FAQ">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-12">
				<div class="sv_heading_wraper heading_wrapper_dark index2_heading  index2_heading_center">
					<h4>FAQ section</h4>
					<h3>Frequently Asked Questions</h3>
					<div class="line_shape"></div>
				</div>
			</div>
		</div>
		<div id="accordion" role="tablist">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">

					<div class="card">

						<!-- Card Title -->
						<div class="card_pagee" role="tab" id="headingOne">
							<h5 class="h5-md">
								<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
									How can i register on Tradeify website?
								</a>
							</h5>
						</div>

						<!-- Card Content -->
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac1.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>To register on the website, you need to register via a refferer link sent to you by an existing user. </p>
								</div>
							</div>
						</div>

					</div>

					<div class="card">

						<div class="card_pagee" role="tab" id="headingTwo">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
									What will i do after registration?
								</a>
							</h5>
						</div>

						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac2.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>After registration you are to proceed to pay your registration fee which will give you access to all the features on the site as well as to start earning.</p>
									<p>Referral fees are credited to your account after inviting more members..</p>
								</div>
							</div>
						</div>

					</div>

					<div class="card">

						<div class="card_pagee" role="tab" id="headingThree">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
									How can i invest on Tradeify?
								</a>
							</h5>
						</div>

						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac3.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>To invest on Tradeify and have profit you must buy a package, which in return generate profit for you.</p>
								</div>
							</div>
						</div>

					</div>

					<div class="card">

						<div class="card_pagee" role="tab" id="heading4">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapse41" role="button" aria-expanded="false" aria-controls="collapse41">
									How many packages can i buy?
								</a>
							</h5>
						</div>

						<div id="collapse41" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac1.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>You can buy as many packages as you can afford because the more the packages the more the profits earn. </p>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 col-12">

					<div class="card">
						<div class="card_pagee" role="tab" id="heading7">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapseT" role="button" aria-expanded="false" aria-controls="collapseT">
									Can i withdraw my Money?
								</a>
							</h5>
						</div>

						<div id="collapseT" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
							<div class="card-body">
								<div class="card_img">
									<img src="~/images/ac3.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>Yes of course! You can.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="card">

						<!-- Card Title -->
						<div class="card_pagee" role="tab" id="headingfour">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
									How can i withdraw my earnings?
								</a>
							</h5>
						</div>

						<!-- Card Content -->
						<div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion" style="">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac1.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>You can withdraw your earnings after the package is due for withdrawal by filling the withdrawal form our admin will comfirm and credit you. </p>
								</div>
							</div>
						</div>

					</div>

					<div class="card">

						<div class="card_pagee" role="tab" id="headingfive">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
									How do i know that my package is due for withdrawal?
								</a>
							</h5>
						</div>

						<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="headingfive" data-parent="#accordion" style="">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac2.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>Each package has a duration attached to it and your duration begins immediately after payment. </p>
								</div>
							</div>
						</div>

					</div>

					<div class="card">

						<div class="card_pagee" role="tab" id="headingsiz">
							<h5 class="h5-md">
								<a class="collapsed" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
									What are your bonus packages for me ?
								</a>
							</h5>
						</div>

						<div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="headingsiz" data-parent="#accordion">
							<div class="card-body">
								<div class="card_img">
									<img src="images/ac3.jpg" alt="img">
								</div>
								<div class="card_cntnt">
									<p>Cashback Bonus on every purchased Packages,</p>
									<p>Interactive sessions with great Investors via social media handles,</p>
									<p>Welcome Bonus & 5 Million Naira Grants after Registeration & </p>
									<p>Birthday Bonus and lots more...</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-lg-12 col-md-12">
			<div class="about_btn calc_btn faqq_btn float_left">
				<ul>
					<li>
						<a href="#" data-toggle="modal" data-target="#myModal">ask questions ?</a>
					</li>
				</ul>
			</div>
			<div class="modal fade question_modal" id="myModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="sv_question_pop float_left">
									<h1>ask questions ? </h1>
									<div class="search_alert_box float_left">

										<div class="apply_job_form">

											<input type="text" name="full_name" placeholder="full name">
										</div>
										<div class="apply_job_form">

											<input type="text" name="Email" placeholder="Enter Your Email">
										</div>
										<div class="apply_job_form">

											<input type="text" name="subject" placeholder="your question">
										</div>
										<div class="apply_job_form">
											<textarea class="form-control" name="message" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="question_sec float_left">
										<div class="about_btn calc_btn faqq_btn ques_Btn">
											<ul>
												<li>
													<a href="#">apply now</a>
												</li>
											</ul>
										</div>
										<div class="cancel_wrapper">
											<a href="#" class="" data-dismiss="modal">cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ wrapper end -->
<!-- payments wrapper end -->
<script type="text/javascript">


    $(document).ready(function () {
        $(".page_title_section").hide();
    });



    $("#click").click(function () {
        $('html, body').animate({
            scrollTop: $("#packages").offset().top
        }, 800);
    });


    $("#click1").click(function () {
        $('html, body').animate({
            scrollTop: $("#news").offset().top
        }, 800);
    });

    $("#click3").click(function () {
        $('html, body').animate({
            scrollTop: $("#faqs").offset().top
        }, 800);
    });




    function PackageConfirmation(Id)
    {
        debugger;
        $.get('@Url.Action("AllPackageFullDetails", "User")', { id: Id }, function (data) {
            $("#myLoader").show();
            $("#myModalBody").html(data);
            $("#myLoader").fadeOut(5000);
        });
       $("#myModal").modal();
    }
</script>




<div class="modal" id="myModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" id="myModalBody">
			<img src="~/images/loader.gif" id="myLoader" />
		</div>
	</div>
</div>
