@model Core.ViewModels.AGCSearchResultViewModel

@{
    ViewData["Title"] = "Gift Card Histories";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        counter-reset: Serial;
    }

    tr td:first-child:before {
        counter-increment: Serial;
        content: counter(Serial);
    }

    .arrow-container {
        position: relative;
    }

    .arrow-up {
        position: absolute;
        top: 0.5em;
    }

    .arrow-down {
        position: absolute;
        top: 1em;
    }
</style>


<div class="deposit_list_wrapper float_left header_text">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12 header_text">
            <div class="sv_heading_wraper">
                <h3> GGC Gift Card Transaction Histories</h3>

            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-1">
        <form asp-controller="Admin" asp-action="AllAGCHistories" method="get">

            <div class="float_left d-lg-none" id="faqs">
                <div class="investment_overlay faq_overlay"></div>
                <div class="container " id="FAQ">
                    <div id="accordion" role="tablist">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">

                                <div class="card">
                                    <div class="card_pagee" role="tab" id="headingTwo">
                                        <h5 class="h5-md">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                                Filter
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                        <div class="card-body2">

                                            <div class="card_cntnt">

                                                <div class="row col-12">
                                                    <div class="p-lg-2 col-12 col-lg-2 p-2">
                                                        <div class="form-pos">
                                                            <label>Date From:</label>
                                                            <div class="form-group i-name">
                                                                <input asp-for="SortTypeFrom" name="SortTypeFrom" value="" type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="p-lg-2 col-12 col-lg-2 p-2">
                                                        <div class="form-pos">
                                                            <label>Date To:</label>
                                                            <div class="form-group i-name">
                                                                <input asp-for="SortTypeTo" name="SortTypeTo" value="" type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="p-lg-2 col-12 col-lg-2 p-2">
                                                        <div class="form-pos">
                                                            <label>Type:</label>
                                                            <div class="form-group i-name">
                                                                <input asp-for="TransactionType" name="TransactionType" type="text" class="form-control" placeholder="Credit">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="p-lg-2 col-12 col-lg-2 p-2">
                                                        <div class="form-pos">
                                                            <label>Username:</label>
                                                            <div class="form-group i-name">
                                                                <input asp-for="UserName" name="UserName" type="text" class="form-control" placeholder="User Name">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2 col-md-12">
                                                        <div class="tb_es_btn_div mt-4 pt-2">
                                                            <div class="form-group mt-2" style="display:grid">
                                                                <button type="submit" class="btn button_color ">Filter</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="">
                                                            <div class="form-pos mt-2 ml-4">
                                                                <label>Page Size:</label>
                                                                <div class="form-group i-name">
                                                                    <select asp-for="PageSize" name="PageSize">
                                                                        <option value="10">10</option>
                                                                        <option value="20">20</option>
                                                                        <option value="50">50</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row col-12 d-lg-flex d-none">
                <div class="p-lg-2 col-12 col-lg-2 p-2">
                    <div class="form-pos">
                        <label>Date From:</label>
                        <div class="form-group i-name">
                            <input asp-for="SortTypeFrom" name="SortTypeFrom" value="" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="p-lg-2 col-12 col-lg-2 p-2">
                    <div class="form-pos">
                        <label>Date To:</label>
                        <div class="form-group i-name">
                            <input asp-for="SortTypeTo" name="SortTypeTo" value="" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="p-lg-2 col-12 col-lg-2 p-2">
                    <div class="form-pos">
                        <label>Type:</label>
                        <div class="form-group i-name">
                            <input asp-for="TransactionType" name="TransactionType" type="text" class="form-control" placeholder="Credit">
                        </div>
                    </div>
                </div>

                <div class="p-lg-2 col-12 col-lg-2 p-2">
                    <div class="form-pos">
                        <label>Username:</label>
                        <div class="form-group i-name">
                            <input asp-for="UserName" name="UserName" type="text" class="form-control" placeholder="User Name">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12">
                    <div class="tb_es_btn_div mt-4 pt-2">
                        <div class="form-group mt-2" style="display:grid">
                            <button type="submit" class="btn button_color ">Filter</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="">
                    <div class="form-pos mt-2 ml-4">
                        <label>Page Size:</label>
                        <div class="form-group i-name">
                            <select asp-for="PageSize" name="PageSize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>


    @if (TempData["Message"] != null)
    {
        var tempDatamessage = (Tradeify.Models.Message)TempData["Message"];
        <partial name="_Message" model="tempDatamessage" />
    }

    <div class="last_transaction_wrapper float_left">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="crm_customer_table_main_wrapper float_left">
                    <div class="crm_ct_search_wrapper">
                        <div class="crm_ct_search_bottom_cont_Wrapper"> </div>
                    </div>

                    @if (Model != null && Model.AGCWalletHistoryRecords.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table cs-table crm_customer_table_inner_Wrapper">
                                <thead>
                                    <tr>
                                        <th class="width_table1">S/N</th>
                                        <th class="width_table1">Coins</th>
                                        <th class="width_table1">New Balance</th>
                                        <th class="width_table1">Previous Balance</th>
                                        <th class="width_table1">Transaction Date</th>
                                        <th class="width_table1">Transaction Type</th>
                                        <th class="width_table1">Received By</th>
                                        <th class="width_table1">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model.AGCWalletHistoryRecords)
                                    {
                                        var paymentDescription = string.Empty;
                                        if (obj.Payment?.PaymentTypeId > 0)
                                        {
                                            paymentDescription = "  Coins Made from " + obj.Payment?.User?.UserName.ToUpper() + " " + obj.Payment?.PaymentTypeId;
                                        }
                                        var colorString = "red";
                                        if (obj.TransactionType == Core.Models.TransactionType.Credit || obj.TransactionType == Core.Models.TransactionType.Refund)
                                        {
                                            colorString = "#22c8db";
                                        }
                                        <tr style="color:@colorString; font-weight:bold" class="background_white">

                                            <td></td>

                                            <td>
                                                <div class="pretty p-svg p-curve"><i class="fab fa-adn text-white"></i>@obj.Amount.ToString("F0") Coins</div>
                                            </td>

                                            <td>
                                                <div class="pretty p-svg p-curve"><i class="fab fa-adn text-white"></i>@obj.NewBalance.ToString("F0") Coins</div>
                                            </td>

                                            <td class="flag">
                                                <div class="pretty p-svg p-curve"><i class="fab fa-adn text-white"></i>@obj.PreviousBalance.ToString("F0") Coins</div>
                                            </td>

                                            <td class="flag">
                                                <div class="pretty p-svg p-curve">@obj.DateOfTransaction.ToString("ddd,MMM d,yyy h:mm tt")</div>
                                            </td>

                                            <td class="flag">
                                                <div class="pretty p-svg p-curve">@obj.TransactionType</div>
                                            </td>

                                            <td>
                                                <div class="pretty p-svg p-curve">@obj.Wallet.User.UserName</div>
                                            </td>

                                            <td>
                                                <div class="pretty p-svg p-curve">@obj.Details  @paymentDescription</div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <br />
                        <div class="col-lg-2 col-md-12">
                            Page @(Model.AGCWalletHistoryRecords.PageNumber) of @Math.Ceiling((double)Model.AGCWalletHistoryRecords.TotalItemCount / Model.AGCWalletHistoryRecords.PageSize)
                        </div>
                        <br />
                        <div class="col-md-6 col-lg-6 col-sm-6 col-5 float-right">
                            @Html.Partial("_AGCHistoryPager",Model)
                        </div>
                    }
                    else
                    {
                        <h2 class="text-info text-center py-5"> No AGC Transaction In This Time Range Available </h2>
                    }
                </div>
            </div>
        </div>
    </div>
</div>